@using appconsumeapi.Models
@model List<Room>
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .myheader {
        margin: 110px 120px 50px;
    }

        .myheader h2 {
            font-size: 40px;
            font-weight: bold;
            color: #428bb2;
            border-left: 10px solid #428bb2;
            padding: 10px
        }

    .addM {
        margin: 20px auto;
    }

        .addM a {
            width: 200px;
            height: 100%;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            color: #428bb2 !important;
        }

            .addM a:hover {
                color: white !important;
                background-color: #428bb2;
            }

    .myContent {
        margin: 30px auto;
    }

    .card {
        height: 550px;
        margin: 10px;
    }

        .card img {
            height: 300px;
        }

        .card h5 {
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #428bb2;
        }

        .card p {
            font-family: Arial;
            font-size: small;
            font-size: 15px;
        }

    .myAvailable span {
        color: green;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }

    .myReserved span {
        color: red;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }

    .myApprove span {
        color: orange;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }
</style>
<div class="myheader">
    <h2>Rooms</h2>
</div>

@*<div class="ml-5">
    @using (Html.BeginForm("search", "Home", FormMethod.Get))
    {
        @Html.TextBox("searching")
        <input type="submit" value="search" />
    }
</div>*@
<div class="myContent container section3-bg">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card m-1">
                    <img src="~/Content/assets/images/@item.photo" alt="" width="100%" style="object-fit:cover" height="150">
                    <div class="card-body">
                        <h5 class="card-title drug_title">Room Number: @item.RID</h5>
                        <p class="card-text drug_details">Branch Name: @item.Branch.BName</p>
                        <p class="card-text drug_details">Room Price: @item.price</p>
                        <p class="card-text drug_details">Number Of Beds: @item.No_Beds</p>
                        <p class="card-text drug_details">Room Status: @item.Status</p>
                    </div>
                    <div class="addM">
                        @if (item.Status == "Reserved")
                        {
                            @Html.ActionLink("Cancel", "editroom", "Home", new { bid = item.BID , rid = item.RID }, new { @class = "btn btn-outline-success m-2"})

                        }
                        else
                        {
                            @Html.ActionLink("Book", "editroom", "Home" , new { bid = item.BID , rid = item.RID }, new { @class = "btn btn-outline-success m-2" })
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>








