@model appconsumeapi.Models.Room
@{
    ViewBag.Title = "editRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #428bb2;
        background: linear-gradient(135deg, #428bb2 0%, rgb(0 0 0) 100%);
    }

    .outer-div {
        width: 100%;
        text-align: center;
    }

    .inner-div {
        display: inline-block;
        margin: 0 auto;
        padding: 3px;
        /* border: 1px solid black; */
        /* border-radius: 10px; */
        margin: 10% auto;
        width: 70%;
        /* background-color: white; */
    }

        .inner-div h2 {
            border: 1px solid inherit;
            border-radius: 10px 10px 0px 0px;
            height: 100%;
            font-weight: bold;
            text-align: left;
            padding: 20px;
            color: white;
            background-color: #286687;
            font-size: 30px;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        }

        .inner-div form {
            background-color: white;
            border: 1px solid white;
            border-radius: 0px 0px 10px 10px;
        }

    form input {
        width: 55%;
        background-color: rgb(221, 221, 221);
        margin: 20px auto;
        padding: 15px;
        border-radius: 6px;
        border: 0.4px solid white;
        outline: none;
        color: #428bb2;
    }

    form div {
        margin-top: 10px
    }

    .chx {
        /*        display:inline;
    */ width: 25px;
        background-color: white;
        margin: 0;
        padding: 5px;
        border-radius: 6px;
        border: 1px solid black;
        outline: none;
        color: #428bb2;
    }

    form label {
        font-weight: bold;
        margin: 10px;
        font-size: 10px;
        color: #428bb2;
        width: 60px;
    }

    form button {
        background-color: #428bb2;
        color: white;
        width: 80px;
        height: 40px;
        padding: 5px;
        border-radius: 6px;
        outline: none;
        border: 1px solid white;
        margin-bottom: 20px;
        cursor: pointer;
    }

        form button:hover {
            background-color: white;
            color: #428bb2;
            border: 1px solid #428bb2;
        }

    form span {
        background-color: white;
        color: red;
        cursor: pointer;
        margin-left: 10px;
        font-size: 10px;
    }

        form span:hover {
            color: #428bb2;
        }

    @@media screen and (max-width: 800px) {
        .inner-div {
            margin-top: 25%;
        }
    }
</style>

<div class="outer-div">
    <div class="inner-div">
        <h2>Edit Room</h2>
        <form method="post" enctype="multipart/form-data">
            <div>
                @Html.Label("Room ID")
                @Html.TextBoxFor(n => n.RID, new { @readonly = "true" })
                <span>@Html.ValidationMessageFor(n => n.RID, "", new { @class = "text-danger" })</span>
            </div>
            <div>
                @Html.Label("Branch ID")
                @Html.TextBoxFor(n => n.BID, new { @readonly = "true" })
                <span>@Html.ValidationMessageFor(n => n.BID, "", new { @class = "text-danger" })</span>
            </div>

            <div>
                @Html.Label("Type")
                @Html.TextBoxFor(n => n.type, new { @readonly = "true" })
                <span>@Html.ValidationMessageFor(n => n.type, "", new { @class = "text-danger", placeholder = "YYYY/MM/DD" })</span>
            </div>


            <div>
                @Html.Label("Price")
                @Html.TextBoxFor(n => n.price, new { @readonly = "true" })
                <span>@Html.ValidationMessageFor(n => n.price, "", new { @class = "text-danger", placeholder = "YYYY/MM/DD" })</span>
            </div>

            <div>
                @Html.Label("No of beds")
                @Html.TextBoxFor(n => n.No_Beds, new { @readonly = "true" })
                <span>@Html.ValidationMessageFor(n => n.No_Beds, "", new { @class = "text-danger" })</span>
            </div>

            <div>
                @Html.Label("User Id")
                @Html.TextBoxFor(n => n.UID, new { @readonly = "true" })
                <span>@Html.ValidationMessageFor(n => n.UID, "", new { @class = "text-danger", placeholder = "Ex: Capsouls" })</span>
            </div>

            <div>
                @Html.Label("Status")
                @Html.TextBoxFor(n => n.Status)
                <span>@Html.ValidationMessageFor(n => n.Status, "", new { @class = "text-danger" })</span>
            </div>
            

            <div>
                @Html.Label("Picture")
                <input style="width:40%;display:inline" type="file" name="img" class="form-control" />
                <span>@Html.ValidationMessageFor(n => n.photo, "", new { @class = "text-danger" })</span>
            </div>

            <button type="submit">Update</button>

        </form>
    </div>
</div>



