@using appconsumeapi.Models
@model List<Branch>
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .myheader {
        margin: 110px 120px 50px;
    }

        .myheader h2 {
            font-size: 40px;
            font-weight: bold;
            color: #428bb2;
            border-left: 10px solid #428bb2;
            padding: 10px
        }

    .addM {
        margin: 20px 12%;
    }

        .addM a {
            width: 200px;
            height: 100%;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            color: #428bb2 !important;
            margin: 0px auto;
        }

            .addM a:hover {
                color: white !important;
                background-color: #428bb2;
            }

    .myContent {
        margin: 30px auto;
    }

    .card {
        height: 550px;
        margin: 10px;
    }

        .card img {
            height: 300px;
        }

        .card h5 {
            font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #428bb2;
        }

        .card p {
            font-family: Arial;
            font-size: small;
            font-size: 15px;
        }

    .myAvailable span {
        color: green;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }

    .myReserved span {
        color: red;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }

    .myApprove span {
        color: orange;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }
</style>
<div class="myheader">
    <h2>Our Branches</h2>
</div>

@*<div class="ml-5">
    @using (Html.BeginForm("search", "Home", FormMethod.Get))
    {
        @Html.TextBox("searching")
        <input type="submit" value="search" />
    }
</div>*@
<div class="myContent container section3-bg">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card m-1">
                    <img src="~/Content/assets/images/@item.BPhoto" alt="" width="100%" style="object-fit:cover" height="150">
                    <div class="card-body">
                        <h5 class="card-title drug_title">@item.BName</h5>
                        <p class="card-text drug_details">Location: @item.location</p>
                        <p class="card-text drug_details">No Of Rooms: @item.No_Rooms</p>
                        <p class="card-text drug_details">Branch Phone: @item.BPhone</p>

                    </div>
                    <div class="addM">
                        @Html.ActionLink("View Rooms", "allrooms", "Home", new {id =item.BID }, new { @class = "btn btn-outline-info" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>






